@font-face {
	font-family: "Museo";
	src: url("../font/MuseoSansRounded-100.otf");
}

* {
	box-sizing: border-box;
	color:  #E7E7E7;
	font-family: "Museo", sans-serif;
	font-weight: 100;
}

body {
	background: #282828;
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.container {
	max-width: 800px;
	width: 100%;
	min-height: 600px;
	background-image: url("../img/main bg.jpg");
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.main {
	max-width: 685px;
	width: 100%;
	min-height: 390px;
	background: #152335;
	padding-left: 21px;
}

.section-1 {
	width: 64%;
	float: left;
	padding-top: 24px;
}

.logo {
	display: inline-block;
	min-width: 65px;
	min-height: 35px;
}

.section-1__img {
	position: relative;
	width: 100%;
	padding-top: 56.6%;
	text-align: center;
}

.img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.switch {
	margin: 0 auto;
	padding-left: 0;
	text-align: center;
}

.switch__color {
	display: inline-block;
}

.switch__link {
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1.5px solid #152335;
}

.switch--active,
.switch__link:hover {
	border: 1px solid #8C9299;
	border-radius: 50%
}

.switch__link--2,
.switch__link--3,
.switch__link--4 {
	border-radius: 50%;
}

.switch__link--1 {
	background-color: #293550;
}

.switch__link--2 {
	background-color: #fff;
}

.switch__link--3 {
	background-color: #F34B41;
}

.switch__link--4 {
	background-color: #24E7EE;
}

.section-2 {
	width: 35%;
	float: right;
	padding-top: 80px;
}

.title {
	margin: 0 auto 17px;
	font-size: 24px;
}

.text {
	margin: 0 auto 25px;
}

.stars__list {
	list-style-type: none;
	padding-left: 0;
	margin: 0 auto 25px;
}

.stars__atems {
	display: inline-block;
	width: 12px;
	height: 12px;
}

.stars__links {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/Vector Smart Object copy 4.png");
}

.stars__links--active,
.stars__links:hover {
	background-image: url("../img/Group 1.png");
}

.select__items {
	margin: 0 auto 30px;
}

.select__size,
.select__qty {
	display: inline-block;
	width: 69px;
	height: 32px;
	background-color: #152335;
	padding: 5px 5px 7px;
	-webkit-appearance: none;
	font-size: 14px;
	border: 1px solid #575d66;
}

.select__size:hover,
.select__qty:hover,
.submit:hover {
	cursor: pointer;
	background-color: #2A3545;
}

.select__label,
.qty__label {
	position: relative;
}

.select__label:after,
.qty__label:after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	border: 1px solid transparent;
	border-left-color: #fff;
	border-bottom-color: #fff;
	position: absolute;
	top: 20%;
	z-index: 0;
	transform: rotate(-45deg);
	cursor: pointer;
}

.select__label:after {
	right: 10px;
}

.qty__label:after {
	right: 6.5px;
}

.submit {
	display: block;
	width: 184px;
	height: 40px;
	background-color: #152335;
	border: 1px solid #575d66;
}

/* @import url("media.css"); */

@media (max-width: 768px) {
	
	.container {
		padding: 30px 0;
	}

	.main {
		padding-left: 0;
		width: 90%;
	}

	.section-1,
	.section-2 {
		display: block;
		float: none;
	}

	.section-1 {
		width: 100%;
		max-height: 300px;
	}

	.logo {
		padding-left: 20px;
	}

	.section-1__img {
		height: 200px;
		padding-top: 0;
	}

	.section-2 {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding: 30px 0;
	}

	.title {
		margin-bottom: 10px;
		font-size: 20px;
	}

	.select {
		text-align: center;
	}

	.submit {
		margin: 0 auto;
	}

	.img {
		max-width: 90%;
	}
}
