@font-face {
	font-family: "Miso";
	src: url("../fonts/miso/miso.otf");
}

@font-face {
	font-family: "Miso-bold";
	src: url("../fonts/miso/miso-bold.ttf");
}

@font-face {
	font-family: "Miso-light";
	src: url("../fonts/miso/miso-light.ttf");
}

body {
	background: #282828;
	min-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.main {
	background-color: #FDDE7E;
	max-width: 85%;
	width: 100%;
	min-height: 557px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main__block {
	width: 30%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 3px;
	padding: 30px 0;
}

.main__block {
	min-height: 350px;
}

.main__block--big {
	min-height: 420px;
}

.main__price {
	font-family: "Miso-bold", sans-serif;
	font-size: 70px;
	color: #02995B; 
}

.main__price--big {
	flex-grow: 0.5;
}

.main__img-block {
	max-width: 135px;
	width: 100%;
}

.main__img-block--big {
	flex-grow: 0.3;
}

.main__img-link {
	display: block;
	position: relative;
	padding-top: 100%;
}

.main__img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.main__title,
.main__description {
	font-family: "Miso-light", sans-serif;
}

.main__title {
	font-size: 50px;
}

.main__description {
	font-size: 20px;
	text-align: center;	
}

.main__price-until {
	display: block;
}

@media (max-width: 992px) {
	.main {
		max-width: 90%;
	}
}

@media (max-width: 576px) {
	
	.main {
		max-width: 100%;
		min-height: 1380px;
		flex-direction: column;
	}

	.main__block {
		width: 80%;
		min-height: 250px;
	}
}