* {
	box-sizing: border-box;
	background-color: #DBC3A9;
}

body {
	padding-top: 25px;
}

main {
	max-width: 600px;
	width: 100%;
	height: calc(100vh - 3.56rem);
	margin: 0 auto;
	border: 6px solid black;
	position: relative;
}

.square {
	position: absolute;
	width: 12.5%;
	height: 12.5%;
	background: black;
	padding: 0.125%;
}

.square:nth-child(n+5) {
	top: 12.5%;
}

.square:nth-child(n+9) {
	top: 25%;
}

.square:nth-child(n+13) {
	top: 37.5%;
}

.square:nth-child(n+17) {
	top: 50%;
}

.square:nth-child(n+21) {
	top: 62.5%;
}

.square:nth-child(n+25) {
	top: 75%;
}

.square:nth-child(n+29) {
	top: 87.5%;
}
.square:nth-child(2) {
	left: 25%;
}

.square:nth-child(3) {
	left: 50%;
}

.square:nth-child(4) {
	left: 75%;
}

.square:nth-child(5) {
	left: 12.5%;
}

.square:nth-child(6) {
	left: 37.5%;
}

.square:nth-child(7) {
	left: 62.5%;
}

.square:nth-child(8) {
	left: 87.5%;
}

.square:nth-child(10) {
	left: 25%;
}

.square:nth-child(11) {
	left: 50%;
}

.square:nth-child(12) {
	left: 75%;
}

.square:nth-child(13) {
	left: 12.5%;
}

.square:nth-child(14) {
	left: 37.5%;
}

.square:nth-child(15) {
	left: 62.5%;
}

.square:nth-child(16) {
	left: 87.5%;
}

.square:nth-child(18) {
	left: 25%;
}

.square:nth-child(19) {
	left: 50%;
}

.square:nth-child(20) {
	left: 75%;
}

.square:nth-child(21) {
	left: 12.5%;
}

.square:nth-child(22) {
	left: 37.5%;
}

.square:nth-child(23) {
	left: 62.5%;
}

.square:nth-child(24) {
	left: 87.5%;
}

.square:nth-child(26) {
	left: 25%;
}

.square:nth-child(27) {
	left: 50%;
}

.square:nth-child(28) {
	left: 75%;
}

.square:nth-child(29) {
	left: 12.5%;
}

.square:nth-child(30) {
	left: 37.5%;
}

.square:nth-child(31) {
	left: 62.5%;
}

.square:nth-child(32) {
	left: 87.5%;
}

.circle {
	width: 100%;
	height: 100%;
	border: 2px solid grey;
	border-radius: 50%;
	background-color: #696969;
}

.red {
	background-color: red;
}

@media (max-width: 768px) {
	
	body {
		padding-top: 35px;
	}

	main {
		height: calc(100vh - 4rem);
	}
}

@media (max-width: 576px) {
	
	body {
		padding-top: 40px;
	}
	
	main {
		height: calc(100vh - 6rem);
		margin: 10px auto 10px;
	}
}

