body {
	font-family: $main-font;
	font-size: $base-size;
	color: $black-color;
	line-height: 1.2;
}

.container {
	max-width: 1200px;
	width: 100%;
}

ul {
	margin-bottom: 0;
}

a {
	color: $black-color;

	&:hover,
	&:focus {
		text-decoration: none;
		cursor: url($img-path + 'Cursor.png'), pointer;
	}
}

button:hover,
li:hover {
	cursor: url($img-path + 'Cursor.png'), pointer;
}

h1 {
	font-size: rem(50px);
}

button {
	color: $white-color;
	background-color: $blue-color;
	min-height: rem(40px);
	border: none;
	font-family: $secondary-font;
	font-weight: 700;
	font-size: rem(14px);
	text-transform: uppercase;
	padding-right: rem(30px);
	padding-left: rem(30px);

	&:hover {
		color: $blue-color;
		background-color: $white-color;
	}
}

