$img-path: '../img/';


$black-color: #000000;
$white-color: #ffffff;
$blue-color: #00afff;
$dark-color: #282828;
$light-grey-color: #787878;
$pink-color: #ef4836;
$border-grey-color: #cccccc;

$black-color: #000000;
$light-color: #fcfcfc;

$grey-color: #aaaaaa;
$border-color: #ababab;
$top-gradient-color: #021833;
$contact-bg-color: #131313;
$form-color: #525252;
$form-hover: #2866bd;

@font-face {
 font-family: "HelveticaBold";
 src: url("../fonts/HelveticaLTStd-Bold.otf")
}

@font-face {
 font-family: "HelveticaLRoman";
 src: url("../fonts/HelveticaLTStd-Roman.otf")
}

$main-font: "Raleway", sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$third-font: 'Playfair Display', serif;
$fourth-font: 'Roboto Condensed', sans-serif;
$fifth-font: 'HelveticaLBold', sans-serif;
$sixth-font: 'HelveticaLRoman', sans-serif;

$base-size: 16px;