* {
	box-sizing: border-box;
	margin: 0px;
	color: #c2c2c2;
}

body {
	margin: 20px 50px;
}

main {
	width: 100%; 
	height: 100%;
	font-family: "Arial", sans-serif;
	/* display: inline-block; */
	padding-top: 30px;
}

li {
	list-style-type: none;
}

.search-field {
	padding: 5px;
	height: 100px;
}

input[type="search"] {
	height: 100%; 
	width: 90%;
	margin: 0px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	font-size: 100px;
	color: #ec5a62
}

input[type="submit"] {
	height: 100%; 
	width: 9%;
	margin: 0px;
	border: none;
	background: url('../img/favicon.png');
	-webkit-appearance: none;
	background-size: 100% 100%;
	background-position: center;
}

::-webkit-input-placeholder {
	color: #c2c2c2;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.terms {
	padding-left: 0px;
}

.section {
	display: inline-block;
	max-width: 32%;
	width: 100%;
}

h2 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.names {
	font-size: 12px;
	padding: 0px;
	padding-left: 0px;
	margin-bottom: 2px;
	background: rgba(118, 117, 128, 0.1);
	width: 100% 
}

.img-wrap, 
a {
	display: inline-block;
	vertical-align: middle;
}

img {
	padding: 10px
}

.names:hover {
	background: rgba(118, 117, 128, 0.2)
}

.first_image {
	border-radius: 50%
}

a {
	text-decoration: none;
	padding-right: 10px;
	max-width: calc(100% - 74px);
}

a:hover {
	color: #ec5a62;
}

@media (max-width: 768px) {
	
	.search-field {
		height: 50px;
	}

	input[type="search"] {
		font-size: 50px;
	}

	.section {
		display: block;
		max-width: 70%;
		margin: 0 auto 20px;
	}
	
	.names {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		-ms-align-items: center;
		align-items: center;
	}

	.wrap {
		width: 300px;
	}

	.img-wrap-1 {
		margin-right: 20px;
	}

	h2 {
		text-align: center;
	}

	a {
		font-size: 16px;
	}
}

@media (max-width: 576px) {
	.search-field {
		height: 40px;
	}

	input[type="search"] {
		font-size: 35px;
	}

	input[type="submit"] {
		width: 8%;
	}

	.section {
		display: block;
		max-width: 90%;
		margin: 0 auto 15px;
	}

	.wrap {
		width: 200px;
	}
}