.block-1 {
	background-image: url($img_path + 'strawberry.jpg');
	background-position: 50% 45%;
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;
	
	&__container {
		min-height: 100vh;
		display: flex;
		align-items: center;
	}

	&__row {
		position: relative;
		font-family: $main_font;
	}

	&__title {
		margin-bottom: 30px;	
	}

	&__content {
		font-weight: $regular;
		margin-bottom: 30px;
	}

	&__button {
		background-color: #ff6033;
		// background: linear-gradient(135deg, 
		// 	rgba(0, 0,0,1) 0%, 
		// 	rgba(0,0,0,1) 50%, 
		// 	rgba(255, 255, 255, 1) 50%, 
		// 	rgba(255,255,255,1) 100%);
	}

	&__scroll {
		position: absolute;
		display: block;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		width: 25px;
		height: 40px;
		cursor: pointer;
	}	
}

@include max767 {
	.col-sm-12 > * {
		text-align: center;
	}

	.block-1__button {
		margin: 0 auto;
	}

	.block-1__title {
		margin-bottom: 15px;	
	}
}

@include min768 {
	.block-1__row {
		width: 100%;
	}
}

