.block-2 {
	background-color: #00BDBC;
	background-image: url($img_path + "plate.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	color: $secondary_color;
	font-family: $main-font;

	&__row {
		min-height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	&__col {
		padding-left: 85px;
		flex-grow: .2;
	}

	&__content-1 {
		margin-bottom: 10px;
	}
}

@include max991 {
	
	.block-2 {
		color: $main-color;

		&__col {
			padding-left: 15px;
		}

		&__content {
			font-weight: $bold;
			font-size: $text_sm;
		}
	}
}

