
.block-5 {
	background-image: url($img_path + "currant-bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	

	&__container {
		min-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__row {
		min-height: 240px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		padding-right: 0;
	}

	&__content {
		font-family: $third-font;
		line-height: 1.7;
	}

	&__form {
		margin-left: 0;
	}

	&__input {
		min-height: 55px;
		width: 100%;
		font-size: $text_sm;
		font-family: $main_font;
	}

	&__button {
		width: 100%;
		background-color: #96b92c;
	}
}
