
.block-5 {
	min-height: 500px;
	background-image: url($img_path + "currant-bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	

	&__container {
		min-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__section {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	&__col-8 {
		line-height: 1;
	}

	&__title {
		font-size: 40px;
		text-transform: capitalize;
		font-family: $main_font;
		margin-bottom: 30px;
		font-weight: $bold;
	}

	&__content {
		font-family: $third-font;
		font-size: $text_md;
		line-height: 1.7;
		margin-bottom: 30px;
	}

	&__form {
		width: 100%;
		min-height: 55px;
		margin-left: 0;
	}

	&__input {
		min-height: 55px;
		width: 100%;
		margin-left: -15px;
		padding-left: 15px;
		font-size: $text_sm;
		font-family: $main_font;
	}

	&__col-3 {
		padding-right: 0px;
	}

	&__button {
		width: 100%;
		background-color: #96b92c;
		box-shadow: 0 1px 2px 1px #9e9e9e;
	}

}










