.block-7 {
	min-height: 865px;
	background-image: url($img_path + "nature-bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	font-family: $main_font;
	color: $main_color;

	&__row {
		min-height: 300px;
	}

	&__form-area {
		padding-right: 85px;
	}

	&__contacts {
		padding-left: 85px;
	}	

	&__input {
		width: 100%;
		color: $secondary_color;
		position: relative;
		background: rgba(126, 224, 224, .7);
		padding: 18px;
		outline: none;
		border: none;
		font-weight: $bold;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&:last-child {
			resize: none;
		}

		&:hover,
		&:focus {
			background: linear-gradient(to right, 
				rgba(#355b82, 1) 0%, 
				rgba(#355b82, 1) 1%,
				rgba(0, 196, 196, 1) 1%, 
				rgba(0, 196, 196, 1) 100%);
		}	
	}

	&__list {
		font-family: $third-font;
		line-height: 1.6;
	}
	
	&__items:not(:last-child) {
		margin-bottom: 15px;
	}

	&__item,
	&__descript {
		display: block;
	}

	&__item {
		font-weight: $bold;
		line-height: 1.5;
	}

	&__descript {
		font-weight: $light;
	}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { 
	color: #fff;
	font-weight: $light;
	font-size: $text_sm;
	font-family: $main-font;
}

@include max991 {
	.block-7 {

		&__form-area {
			padding-right: 50px;
		}

		&__contacts {
			padding-left: 50px;
		}	
	}	
}

@include max767 {
	.block-7 {

		&__form-area {
			padding-right: 30px;
		}

		&__contacts {
			padding-left: 30px;
		}	
	}	
}

@include max575 {
	.block-7 {
		min-height: 830px;

		&__form-area {
			padding-right: 15px;
			margin-bottom: 15px;
		}

		&__contacts {
			padding-left: 15px;
			text-align: center;
		}	
	}
	
}