.block-3 {
	background-color: #70bfff;
	min-height: 790px;
	background-image: url($img_path + 'tomatoes.png');
	background-repeat: no-repeat;
	background-position: 79% 50%;
	display: flex;
	color: $secondary_color;
	font-family: $main-font;
	
	&__row {
		display: flex;
		justify-content: flex-end;
		align-items: center;	
		height: 100%;
	}

	&__list {
		max-width: 400px;
		width: 100%;
		color: $main-color;
	}

	&__items {
		margin: 0 0 20px;
		width: 100%;
		box-shadow: 0 5px 5px #45769e;
		position: relative;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__button {
		height: 100px;
		width: 75%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $secondary_color;
		font-weight: $bold;
		font-size: $text_lg;
		text-transform: capitalize;
		text-align: center;
		border: none;
		border-right: 2px solid #9d9d9d;

		&:after {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			content: "";
			float: right;
			width: 25%;
			height: 100px;
			background-color: $secondary_color;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}

		&--basket:after {
			background-image: url($img_path + 'basket.svg');
		}

		&--hand:after {
			background-image: url($img_path + 'hand.svg');
		}

		&--earth:after {
			background-image: url($img_path + 'earth.svg');
		}

		&--carrot:after {
			background-image: url($img_path + 'carrot.svg');
		}
	}

	&__col {
		display: flex;
		justify-content: center;
		align-items: center;	
	}

	&__title {
		width: 100%;
		text-align: right;
		margin: 0;
	}

	h1 {
		margin-bottom: 0;
	}
}

@include max991 {
	
	.block-3 {
		&__row {
			flex-direction: column-reverse;
			justify-content: space-around;
		}

		&__title {
			text-align: center;
		}

		&__list {
			max-width: 100%;
		}
		
	}

	.mb-md-20 {
		margin-bottom: 20px;
	}

	.md-row {
		display: inline-block;
		width: 50%;
		margin-bottom: 0;

		&:first-child {
			margin-right: 25px;
		}
	}

	.md-col {
		padding-right: 0;
		margin-bottom: 0;
	}
}

@include max575 {

	.md-row {
		display: block;
		width: calc(100% + 15px);
	}

	.button-row {
		min-height: 150px;
	}
}

