.main-footer {
	color: #afafaf;

	&__col {
		min-height: 90px;
		display: flex;
		align-items: center;
	}
	
	&__logo-col {
		justify-content: center;
	}

	&__rights,
	&__love {
		font-family: $third-font;
		line-height: 1.7;
	}

	&__logo-link {
		font-family: $second-font;
		font-size: 25px;
		color: #afafaf;

		&:hover {
			color: red;
		}
	}

	&__love {
		width: 100%;
		font-size: $text_sm;
		text-align: right;

		&-link {
			color: red;
		}
	}
}

@include max767 {
	.main-footer {
		padding: 0 15px;

		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__col {
			min-height: 40px;
			text-align: center;
		}
		
		&__logo-link {
			display: inline-block;
		}
		
		&__rights,
		&__love {
			width: 100%;
			text-align: center;
		}

		&__logo-col {
			display: inline-flex;
			justify-content: center;
		}
	}
	
}


