* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    background-size: cover;
	position: relative;
}

/* body:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-color: rgba(0, 0, 0, .6);
} */

.container {
	max-width: 1200px;
	width: 100%;
	padding: 50px 0;
	position: relative;
	z-index: 1;
	text-align: center;
}

/* .color-div {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-color: purple;
	border: 10px solid green;
	box-shadow: 
		0 0 0 10px blue,
		0 0 0 20px red,
		0 0 0 30px yellow;
		border-radius: 50%;

} */

.border-div {
	position: relative;
	border: 2px solid #fff;
	border-top: none;
	padding: 50px 0;
	color: #fff;
}

.border-div:before, 
.border-div:after {
	content: "";
	position: absolute;
	top: 0;
	width: 40%;
	border-top: 2px solid white;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.border-div:before {
	left: 0;
}

.border-div:after {
	right: 0;
}

h1 {
	position: absolute;
	width: 100%;
	top: -18px;
	left: 0;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
}

.inner-div {
	max-width: 80%;
	margin: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin:  0;
}

li {
	display: inline-block;
	position: relative;
}

/* li > * {

} */

label {
	color: #fff;
	font-size: 2em;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: 2px solid transparent;

}

input[type="radio"] {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0
}

input[type="radio"]:checked + label {
	border-color: white;
}