* {
	transition: all .1s ease-in;
	box-sizing: border-box;
	color: #fff;
	font-family:  “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 20px 0;
	border: 20px #2b81AC solid;
	min-height: 100vh;
	background-color: #3399CC;
}

main {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: 1.8em;
	font-weight: 500;
	margin: 0 0 20px;
}

ul {
	font-size: 0;
	max-height: 468px;
	padding-left: 0;
	border: 4px #fff solid;
	margin-bottom: 20px;
}

li {
	max-height: 115px;
	display: inline-block;
	border: 4px #fff solid;
}

li:first-child {
	width: 50%;
}

li:nth-child(n+2) {
	width: 25%;
	
}
li:nth-last-child(3) {
	width: 50%;
}

li:last-child {
	width: 100%;
}	

li:first-child a {	
	background-color: #3399CC;
}
li:nth-child(2) a {
	background-color: #33CCCC;
}
li:nth-child(3) a {
	background-color: #996699;
}
li:nth-child(4) a {
	background-color: #C24747;
}
li:nth-child(5) a {
	background-color: #E2674A;
}
li:nth-child(6) a {
	background-color: #FFCC66;
}
li:nth-child(7) a {
	background-color: #99CC99;
}
li:nth-child(8) a {
	background-color: #669999;
}
li:nth-last-child(3) a	{
	background-color: #CC6699;
}
li:nth-child(10) a {
	background-color: #339966;
}
li:last-child a	{
	background-color: #666699;
}

.cities {
	margin: 0;
	line-height: 1.2;
}

a {
	display: block;
	min-height: 107px;
	font-size: 1.4rem;
	text-align: center;
	padding: 20px 0;
	line-height: 1.7;
}

span {
	display: block;
	opacity: .7;
}

span:hover {
	opacity: 1;
}

ul:hover li a:not(:hover) {
	opacity: 0.5;
}

footer {
	font-size: 1.3rem
}

@media (max-width: 576px) {

	a {
		font-size: 1.1rem;
		min-height: 92px;
	}

	h1 {
		font-size: 1.4rem;
	}

	footer {
		font-size: 1rem
	}

	ul {
		max-height: 408px;
	}

	li {
		max-height: 100px;
	}
}

@media (max-width: 400px) {
	a {
		font-size: 0.8rem;
		padding: 25px 0;
	}
}
