$dark-color: #262626;
$white-color: #fff;

$main_color: $dark-color;
$secondary_color: $white-color;

$main_font: "Raleway", sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
$heavy: 900;

$lg-screen: 1200px;
$pad-screen: 789px;
$sm-screen: 520px;
$xs-screen: 430px;

$text_lg: 35px;
$text_md: 17px;
$text_sm: 15px;

$img_path: "../img/";