* {
	text-decoration: none;
	list-style-type: none;
	color: black;
	box-sizing: border-box;
}

body {
	background: #EEEEEE;
}

.cf {
	clear: both;
}

.cf:before,
.cf:after {
	content: "";
	display: table;
	clear: both
}

.main-header__nav,
.main-header__item,
.section-1__text,
.section-1__img,
.section-1__button,
.section-2__items,
.footer__links {
	display: inline-block;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}