.footer {
	font-family: "Raleway", sans-serif;
	padding-top: 110px;
	padding-bottom: 30px;
	text-align: center;
}

.footer__list {
	padding-left: 0;
	margin: 0 auto 60px;
	display: inline-block; 
}

.footer__items,
.footer__link {
	width: 70px;
	height: 70px;
}

.footer__items:not(:last-child) {
	margin-right: 20px;
}

.footer__link {
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
}

.i1 {
	background-image: url("../img/fb.png");
}

.i2 {
	background-image: url("../img/tw.png");
}

.i3 {
	background-image: url("../img/yt.png");
}

.i4 {
	position: absolute;
	background-color: #fff;
}

.i4:after {
	content: "M";
	display: block;
	position: absolute;
	top: 55%;
	right: 0;
	left: 15%;
	color: #ffffff;
	transform: translateY(-50%);
	font-size: 36px;
	text-shadow: 
	-1px -1px 1px #979797,
	-2px -1px 1px #979797,
	-3px -2px 1px #979797,
	-4px -2px 1px #979797,
	-5px -3px 1px #979797,
	-6px -3px 1px #979797,
	-7px -4px 1px #979797,
	-8px -4px 1px #979797,
	-9px -5px 1px #979797,
	-10px -5px 1px #979797;
}

.footer__link:hover {
	transition: all .2s ease;
	background-color: #e10011;
}

.i1:hover {
	background-image: url("../img/fb--hover.svg");
}

.i2:hover {
	background-image: url("../img/tw--hover.svg");
}

.i3:hover {
	background-image: url("../img/yt--hover.svg");
}

.i4:hover {
	color: #e3e3e3;
	text-shadow: 
	-1px -1px 1px #ffffff,
	-2px -1px 1px #ffffff,
	-3px -2px 1px #ffffff,
	-4px -2px 1px #ffffff,
	-5px -3px 1px #ffffff,
	-6px -3px 1px #ffffff,
	-7px -4px 1px #ffffff,
	-8px -4px 1px #ffffff,
	-9px -5px 1px #ffffff,
	-10px -5px 1px #ffffff;
}

.footer__text {
	display: block;
	margin: 0;
}

.footer__text,
.fa-copyright,
.footer__span-2 {
	color: #AEAEAE;
}

.footer__span {
	color: black
}