/* MAP
*****#COMMON
*****#HEADER
*****#SECTION1
*****#SECTION2
*****#SECTION3
*****#FOOTER */

/* #COMMON */

* {
	text-decoration: none;
	list-style-type: none;
	color: black;
	box-sizing: border-box;
}

body {
	background: #EEEEEE;
}

.cf {
	clear: both;
}

.cf:before,
.cf:after {
	content: "";
	display: table;
	clear: both
}

.main-header__nav,
.main-header__item,
.section-1__text,
.section-1__img,
.section-1__button,
.section-2__cards,
.footer__links {
	display: inline-block;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

/* #HEADER */

.main-header {
	padding-top: 50px;
	vertical-align: middle;
	font-family: "Roboto", sans-serif;
}

.main-header__title {
	font-size: 48px;
	font-weight: 900;
}

.main-header__nav {
	font-size: 18px;
	float: right;
	padding-top: 22px
}

.main-header__list {	
	margin: 0
}

.main-header__item {
	margin-right: 40px;
}

.main-header__item:first-child {
	margin-right: 50px;
}

.main-header__item:last-child {
	margin-right: 0;
}

.main-header__text:hover,
.main-header__ref:hover,
.fa-bars:hover {
	cursor: pointer;
	color: red;
	text-decoration: underline;
	transition: all .3s ease;
}

/* #SECTION1 */

.section-1 {
	padding: 120px 0 100px;
	margin: 0 auto;
}

.section-1__text {
	max-width: 614px;
	width: 100%;
	margin: 0;
}

.section-1__img {
	max-width: 582px;
	width: 100%;
}

.section-1__img-link {
	display: block;
	position: relative;
	padding-top: 85%;
}

.section-1__image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}	

.section-1__switch {
	margin: 0 auto;
	text-align: center;
	padding-top: 85px;
	padding-left: 0;
	font-size: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 0;
	font-weight: 900;
	margin: 0 0 20px;
}

h1 > * {
	font-size: 150px;
	line-height: 0.9;
}

.h1__span2 {
	display: block;
	text-align: right;
}

.section-1__content {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	text-align: right;
}

.section-1__footer {
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	text-align: right;
	margin: 0;
	font-weight: 600;
	padding-top: 20px
}

.section-1__ref {
	color: red;
}

.section-1__tap {
	font-size: 12px;
	display: block;
}

.fas-fa-circle--active,
.fa-circle:hover {
	color: red;
	transition: all .5s ease;
}

.section-1__button:nth-child(2) {
	padding: 0 9px;
}

/* #SECTION2 */

.section-2 {
	padding: 116px 70px 35px 70px;
	background: #fff;
}

.section-2__text {
	font-family: "Raleway", sans-serif;
	max-width: 585px;
	text-align: center;
	margin: 0 auto 78px;
}

.section-2__title {
	font-size: 48px;
	font-weight: 900;
	margin: 0 0 10px 0;
}

.section-2__star {
	padding-top: 20px;
	padding-bottom: 15px;
	background-image: url("../img/underline.png");
	background-repeat: no-repeat;
	background-position: center;
}

.section-2__content,
.section-3__content {
	margin-top: 0;
	font-size: 18px;
	line-height: 1.5em;
}

.section-2__imgs {
	padding-left: 0;
	margin: 0;
	font-size: 0;
}

.section-2__cards:first-child,
.section-2__cards:nth-child(2) {
	margin-bottom: 35px;
}

.section-2__cards:first-child,
.section-2__cards:nth-child(3),
.section-2__cards:nth-child(4) {
	margin-right: 35px;
}

.section-2__picture {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.section-2__picture:after {
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: red;
	z-index: 1;
	border-radius: 3px;
}

.section-2__descript {
	margin: 0;
	max-width: 100%;
	text-align: left;
	top: 70%;
	left: 10%;
	margin: 0;
	z-index: 2;
	font-size: 30px;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: #fff;
}

.section-2__design {
	padding-bottom: 10px;
	border-bottom: 5px solid #fff;
	color: #fff;
}

.section-2__picture:after,
.section-2__descript {
	position: absolute;
	opacity: 0;
}

.section-2__picture:hover:after, 
.section-2__picture:hover .section-2__descript {
	opacity: 1;
	transition: all .3s ease;
}

/* #SECTION3 */

.section-3 {
	font-family: "Raleway", sans-serif;
	padding-top: 97px;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

.section-3__title {
	font-weight: 900;
	font-size: 48px;
	margin: 0 auto;
}

.section-3__content {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0
}

.section-3__form {
	max-width: 700px;
	background: #fff;
	border-radius: 30px;
	position: relative;
	min-height: 57px;
}

.section-3__placeholder {
	padding: 18px 0 18px 50px;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	height: 100%;
	width: 485px;
	background: #fff;
	border-radius: 30px 0 0 30px;
	border: none;
	background-image: url("../img/envelope-regular.svg");
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 18px;
}

.section-3__placeholder:active,
.section-3__placeholder:visited {
	background-image: none;
}

.section-3__submit {
	height: 100%;
	color: white;
	background-color: red;
	font-size: 18px;
	font-weight: 600;
	line-height: 3.5em;
	border-radius: 0 30px 30px 0;
	position: relative;
	width: 209px;
	border: none;
	margin: 0;
}

label {
	border: 6px solid transparent;
	border-left-color: #fff;
	position: absolute;
	right: 38px;
	top: 48%;
	transform: translateY(-50%);
}

.section-3__submit:hover {
	background-color: blue;
	cursor: pointer;
}

/* #FOOTER */

.footer {
	font-family: "Raleway", sans-serif;
	padding-top: 110px;
	padding-bottom: 30px;
	text-align: center;
}

.footer__icons {
	padding-left: 0;
	margin: 0 auto 60px;
	display: inline-block; 
}

.footer__links,
.footer__img {
	width: 70px;
	height: 70px;
}

.footer__links:not(:last-child) {
	margin-right: 20px;
}

.footer__img {
	display: block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
}

.i1 {
	background-image: url("../img/fb.png");
}

.i2 {
	background-image: url("../img/tw.png");
}

.i3 {
	background-image: url("../img/yt.png");
}

.i4 {
	position: absolute;
	background-color: #fff;
}

.i4:after {
	content: "M";
	display: block;
	position: absolute;
	top: 55%;
	right: 0;
	left: 15%;
	color: #ffffff;
	transform: translateY(-50%);
	font-size: 36px;
	text-shadow: 
	-1px -1px 1px #979797,
	-2px -1px 1px #979797,
	-3px -2px 1px #979797,
	-4px -2px 1px #979797,
	-5px -3px 1px #979797,
	-6px -3px 1px #979797,
	-7px -4px 1px #979797,
	-8px -4px 1px #979797,
	-9px -5px 1px #979797,
	-10px -5px 1px #979797;
}

.footer__img:hover {
	transition: all .2s ease;
	background-color: #e10011;
}

.i1:hover {
	background-image: url("../img/fb--hover.svg");
}

.i2:hover {
	background-image: url("../img/tw--hover.svg");
}

.i3:hover {
	background-image: url("../img/yt--hover.svg");
}

.i4:hover {
	color: #e3e3e3;
	text-shadow: 
	-1px -1px 1px #ffffff,
	-2px -1px 1px #ffffff,
	-3px -2px 1px #ffffff,
	-4px -2px 1px #ffffff,
	-5px -3px 1px #ffffff,
	-6px -3px 1px #ffffff,
	-7px -4px 1px #ffffff,
	-8px -4px 1px #ffffff,
	-9px -5px 1px #ffffff,
	-10px -5px 1px #ffffff;
}

.footer__text {
	margin: 0;
}

.footer__text,
.fa-copyright {
	color: #AEAEAE;
}

.footer__span {
	color: black
}

@media (max-width: 992px) {
	
	.main-header__title {
		font-size: 42px;
		line-height: 1.2;
	}

	.main-header__list {
		padding-left: 10px;
	}

	.main-header__list > .main-header__item {
		margin-right: 20px;
	}
	
	.main-header__item:last-child {
		margin-right: 0;
	}

	.section-1 {
		padding: 80px 0 60px;
	}

	.section-1__text {
		max-width: 992px;
		width: 100%;
	}
	
	.section-1__text > * {
		text-align: center;
	}

	h1 > * {
		font-size: 100px;
		word-spacing: 0;
	}

	.h1__span2 {
		display: inline;
	}

	/*  */

	.section-1__img {
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	
	.main-header__title {
		font-size: 42px;
		line-height: 1.2;
	}

	.main-header__list {
		padding-left: 10px;
	}

	.main-header__list > .main-header__item {
		margin-right: 20px;
	}
	
	.main-header__item:last-child {
		margin-right: 0;
	}

	.section-1 {
		padding: 80px 0 60px;
	}

	.section-1__text {
		max-width: 768px;
		width: 100%;
	}
	
	h1 > * {
		font-size: 80px;
		word-spacing: 0;
	}

	.h1__span2 {
		display: inline;
	}

	.section-1__content {
		font-size: 20px;
	}
}

@media (max-width: 576px) {

	.main-header {
		text-align: center;
	}

	.main-header__nav {
		display: block;
		float: none;
	}

	.main-header__list {
		padding-left: 0;
	}

	.main-header__list > .main-header__item {
		margin-right: 20px;
	}
	
	.main-header__item:last-child {
		margin-right: 0;
	}

	.section-1 {
		padding: 40px 0 20px;
	}

	h1 > * {
		font-size: 70px;
	}
}

