.block-house-2 {
	background-image: url($img_path + 'rocks.jpg');

	&__row {
		display: flex;
		justify-content: flex-end;
	}
}	

@include max1199 {
	.block-house__col {
		padding-right: 30px;
	}
}

@include max575 {
	.block-house-2__row {
		justify-content: center;
	}

	.block-house__col {
		padding-right: 15px;
		min-height: 600px;
	}	
}