.block-menu {
	background-color: #5474fd;

	&__col {
		min-height: 80px;
		display: flex;	
		align-items: center;
	}

	&__nav {
		width: 100%;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: $font-small;
		text-transform: uppercase;
	}
}

@include max1199 {
	.block-menu__list {
		justify-content: space-around;
	}

	.link-col {
		padding-left: 50px;
	}
}

@include max767 {
	.block-menu__list {
		font-size: $font-xs;
	}
	
	.link-col {
		padding-left: 30px;
	}
}

@include max575 {
	.block-menu__col {
			min-height: 40px;
		}

	.link-col {
		justify-content: center;
		padding: 10px 15px 0;
	}
}