* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
}

body {
	font-family: $main-font;
	color: $main-color;
	padding: 15px;

	$min-screen: 300px;

	@media (max-width: $min-screen) {
		display: none;
	}

	@include max575 {
		padding: 0;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	color: $main-color; 
}

@for $i from 1 through 6 {
	h#{$i} {
		margin: 0;
	}
}

.button {
	width: 225px;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $main-color;
	background: linear-gradient(45deg, 
		rgba(#496bfe, 1) 0%, 
		rgba(#496bfe, 1) 40%, 
		rgba(#5474fd, 1) 40%, 
		rgba(#5474fd, 1) 100%);
	text-transform: uppercase;
	font-family: $main-font;
	border: none;

	&:hover {
		opacity: .7;
		cursor: pointer;
	}
}

.title {
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
	font-size: 36px;
	text-transform: capitalize;
	line-height: 1.7;

	@include max575 {
		font-size: 30px;
	}
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
}

.content {
	font-size: $font-size;
	line-height: 1.7;
	font-family: $secondary-font;
	color: #fefefe;
}

.logo {
	display: block;
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: .1em;
	text-transform: uppercase;
	cursor: pointer;
}

.logo:hover,
.items-link:hover {
	color: red;
	opacity: .7;
}

.cover {
	background-size: cover;
}

img {
	display: none;
}

.real-img {
	display: block;
}