.about {
	min-height: 100vh;
	height: 100%;

	&__container {
		min-height: 555px;
	}

	&__col-4 {
		margin-left: -15px;
	}

	&__img-wrapper {
		position: relative;
		width: 380px;
		padding-top: 154%;
		line-height: 0;
	}

	&__description {
		position: absolute;
		top: 75px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}

	&__logo-link {
		width: 50px;
		height: 54px;
	}

	&__img {
		@include overlay;
		object-fit: cover;
	}

	&__text {
		font-family: $fourth-font;
		color: $dark-color;
		font-size: rem(20px);
		line-height: 1;
		margin-bottom: 90px;
	}

	&__col-7 {
		padding: rem(70px) rem(15px) rem(100px) rem(15px);
	}
}