body {
	font-family: $main-font;
	font-size: $base-size;
	color: $light-color;
	background-color: $body-color;
	line-height: 1.2;
}

p {
	margin-bottom: 0;
}

a {
	color: $white-color;
	text-decoration: none;
	display: block;

	&:hover {
		text-decoration: none;
		color: $violet-color;
	}
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

.container {
	max-width: 1170px;
	width: 100%;
}

.section__title {
	min-height: 175px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	font-family: $secondary-font;
	font-size: rem(36px);

	& > * {
		margin-bottom: 0;
		text-align: center;
	}
}

.button {
	min-width: 195px;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(20px);
	font-family: $third-font;
	color: $grey-color;
	background-color: $body-color;
	border: 1px solid $grey-color;
	text-transform: capitalize;
	cursor: pointer;

	&:hover {
		color: $violet-color;
		border: 1px solid $violet-color;
	}
}

span {
	display: inline-block;
}

.center {
	display: flex;
	justify-content: center;
}

.social-list > * {
	display: inline-block;

	&:not(:last-child) {
		margin-right: 23px;
	}

	&:hover {
		opacity: .5;
	}
}

.social-link {
	width: 32px;
	height: 32px;
}

.home,
.mobile {
	min-width: 350px;
	background-color: rgba($body-color, .5);
	position: fixed;
	right: 0;
	top: 25%;
	cursor: pointer;
	@include z-index(label);
	transform: translateX(calc(100% - #{$size}));
	will-change: transform;
	transition: transform .4s ease;
	text-transform: capitalize;
	font-family: $fourth-font;
	color: $dark-color;

	&:hover {
		transform: translateX(0);
	}

	& > * {
		height: $size;
	}

	&-icon {
		width: $size;
		background-color: $violet-color;
	}

	&-address {
		width: calc(100% - #{$size});
		text-align: center;
	}
}

.mobile {
	top: calc(25% - #{$size});;
}

.arrow-up {
	$size: 85px;
	width: $size;
	height: $size;
	position: fixed;
	right: 7%;
	bottom: 14.5%;
	transform: translateX(100%);
	background-color: rgba($violet-color, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: $black-color;
	cursor: pointer;
	transition: opacity .1s ease;
	@include z-index(up);
}

.section__height {
	padding: 15px 15px 0;

	@include min576 {
		padding: 0 15px 0;
	}

	@include min768 {
		padding: 0;
		min-height: 350px;	
	}

	@include min992 {
		min-height: 470px;	
	}	
}

.menu-wrapper {
	display: flex;
	$size: 20px;
	width: $size;
	height: $size;
	align-items: center;
	position: relative;
	z-index: 2;
}

.mobile-menu {
	$size: 20px;
	width: $size;
	height: 2px;
	background-color: $white-color;
	position: relative;
	display: block;

	&::before,
	&::after {
		content: "";
		display: block;
		width: $size;
		height: 2px;
		background-color: $white-color;
		position: absolute;
		transform-origin: center;
	}

	$distance: 6px;

	&::before {
		top: -$distance;
	}

	&::after {
		top: $distance;
	}

	&.opened {
		background-color: transparent;

		&::before,
		&::after {
			top: 0;
		}

		&::after {
			transform: rotate(45deg)
		}

		&::before {
			transform: rotate(-45deg)
		}
	}

	@media all and (min-width: 992px) {
		display: none;
	}

	&.opened {

	}
}

.navbar-toggler {
	&[aria-expanded="true"]{
		.fa-bars {
			display: none;
		}
		.fa-times {
			display: block;
		}
	}

	&[aria-expanded="false"]	{
		.fa-bars {
			display: block;
		}
		.fa-times {
			display: none;
		}
	}

	.navbar-toggler-icon {
		font-size: 2rem;
		color: $white-color;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.f100 {
	flex: 100%;
}
