.contact {
	padding-bottom: 50px;
	position: relative;	

	&::before {
		content: "";
		@include overlay;
		background-color: rgba($violet-color, .5);
	}

	&__col {
		min-height: 850px;
		height: 100%;
		position: relative;
		@include z-index(first);
	}
	
	&__title {
		padding-top: 55px;
	}


	&__form-block {
		width: 100%;

		@include min576 {
			max-width: 460px;
		}

		@include min768 {
			max-width: 660px;
		}

		@include min992 {
			max-width: 860px;
		}

		@include min1367 {
			max-width: 1060px;
		}
		
		 
	}

	&__form {
		margin-bottom: rem(55px);

	}

	&__form-group {

		margin-bottom: rem(25px);
	}

	.input1 {
		margin-right: 3%;

		@include min576 {
			margin-right: 3%;
		}

		@include min768 {
			margin-right: 3%;
		}

		@include min992 {
			margin-right: 3.5%;
		}
	}

	&__form-group {
		position: relative;
		display: inline-block;
		width: 100%;
		
		@include min576 {
			width: 48%;
		}
		
	}

	&__form-group2 {
		display: block;
		
	}

	.form__col	{
		padding: 0 58px;
	}
	

	&__form-group2 {
		position: relative;
		min-height: 195px;
		width: 100%;

		@include min576 {
			max-width: 460px;
		}

		@include min768 {
			max-width: 660px;
		}

		@include min992 {
			max-width: 860px;
		}

		@include min1367 {
			max-width: 1060px;
		}

		&:after {
			content:"";
			position: absolute;
			background-image: url($img-path + 'arrow.svg');
			width: 11px;
			height: 11px;
			right: 0px;
			bottom: 5px;
			cursor: pointer;
			pointer-events: none;
		}
	}

	&__input,
	&__textarea {
		width: 100%;
		height: 100%;
		color: $white-color;
		font-family: $third-font;
		padding: rem(15px) rem(25px);
		background-color: rgba($body-color, .5);
		border-color: transparent;
		border-radius: 3px;

		&:focus,
		&:valid {

			+ label {
				display: none;
			}
		}
	}

	&__textarea {
		min-height: 195px;
		resize: none;
	}	

	label {
		position: absolute;
		left: 27px;
		top: 18px;
		color: $white-color;
		font-family: $third-font;
		text-transform: capitalize;	

		.star {
			color: $violet-color;
			font-weight: 700;
		}
	}

	&__button {
		min-width: 290px;
		min-height: 70px;
		color: $white-color;
		background-color: $violet-color;
		font-family: $secondary-font;
		border-color: transparent;
		border-radius: 3px;
		box-shadow: 0 4px $dark-violet-color;

		&:hover {
			background-color: $body-color;
		}
	}
}

#map {
	min-height: 900px;
	width: 100%;
	@include overlay;
	z-index: 0;
}