.first-screen {
	position: relative;
	background-image: url($img-path + 'lamp.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	@include z-index(first);
	padding-top: 15px;
	min-height: 100vh;

	&::after {
		content: "";
		background: rgba($violet-color, .5);

		@include overlay;
	}

	// @include min768 {
	// 	padding-top: 40px;
	// 	min-height: 100vh;	
	// }

	/* $paddingTop: 80px;	
	@include min992 {
		padding-top: $paddingTop;
		}	 */

		&__container {
			position: relative;
			@include z-index(first);
			display: flex;
			flex-direction: column;
			justify-content: space-between;	
			min-height: calc(100vh - 120px);	
		}

		&__logo-link {
			margin-left: 15px;
			width: 54px;
			height: 72px;
		}

		.flex-grow {
			flex-grow: .3;
		}

		&__title {
			margin: 0 -15px rem(16px);

			@include min768 {
				margin-bottom: rem(20px);			
			}

			& > * {
				font-family: $secondary-font;
				text-transform: uppercase;
				font-weight: 300;
				margin-bottom: 0;
				font-size: rem(40px);
				text-align: center;

				@include min576 {
					$font-size: rem(50px);
				}

				@include min768 {
					font-size: rem(72px);
				}
			}
		}

		&__text {
			font-family: $third-font;
			font-weight: 200;
			line-height: 1.2;
			font-size: rem(20px);
			text-align: center;
			color: $body-color;
			letter-spacing: 1px;

			@include min768 {
				font-size: rem(30px);			
			}

		// @include min992 {
		// 	max-width: 90%;	
		// }
	}


// Old


.navigation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 0;
	padding-left: 0;
	@include z-index(navbar);

	& > .container {
		padding-left: 0;
		padding-right: 0;
			// margin: 0 rem(15px);
		}

		&.fixed-top {
			background-color: rgba(black, .5);

			& > .container {
				padding-left: 15px;
				padding-right: 15px;
				margin: 0 rem(15px);
			}
		}

		@include max767 {
			padding-top: 0;	
			padding-bottom: 0;	
		}


		&__list {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			flex: 100%;

			@include min992 {
				align-items: center;
				justify-content: space-around;
				width: 80%;
			}

			@include max991 {
				padding-top: rem(50px);
			}

			&.open {
				display: flex;

				.navigation__item {
					margin-bottom: .5rem;
				}
			}
		}

		&__item {

			&.active {
				.navigation__link {
					color: $violet-color;	
				}
			}
		}

		&__link {
			text-transform: uppercase;
			font-weight: bold;
			
			@include min992 {
				font-size: rem(23px);
			}

			@include min1367 {
				font-size: rem(24px);
			}
			

			&:hover {
				color: $violet-color;
			}
		}
	}
}

.navbar-collapse {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	min-width: 30%;
	background-color: rgba($black-color, .5);
	transition: transform .4s ease;
	transform: translateX(100%);
	
	@include z-index(navbar);

	@include min768 {
		min-width: 20%;
	}

	@include min992 {
		position: initial;
		transform: translateY(0);
		background-color: initial;
	}

	&.open {
		transform: translateX(0);
		
		.navigation__item {
			margin-bottom: .5rem;
			width: 100%;
			text-align: center;
		}

		.navigation__close {
			position: absolute;
			top: 2.2%;
			right: 15%;
			font-size: 2.3rem;
			display: list-item;

			@include min576 {
				right: initial;
				left: 15%;
			}

			@include min768 {
				top: 6.4%;
			}

			@include min992 {
				display: none;
			}
		}
	}

	& > * {
		@include min992 {
			opacity: 1;
		}
	}

	&.show {

		& > * {
			opacity: 1;
		}
	}
}

.navbar-toggler {

	@include max767 {
		padding-left: 0;
		padding-right: 0;
		padding: .25rem .75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: .25rem;
	}

	&-icon {

		@include max767 {
			// width: 0;
		}		
	}
}

.flex-gr {
	flex-grow: .6;
}

.ml-30 {
	margin-left: -30px;
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.mh-120 {
	min-height: 120px;
}


// New
