.footer {
	background-color: $violet-color;

	&__container {
			min-height: 185px;
	}

	&__row {
		width: 100%;
		min-height: 185px;
		padding: rem(30px) 0;
		margin: 0;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-around;

		@include min768 {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__col {
		text-align: right;
	}

	&__text {
		font-family: $fourth-font;
		letter-spacing: .02rem;

		@include min576 {
			font-size: rem(18px);
		}
	}
}