.services {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;

	&__row {
		flex-direction: column-reverse;
		align-items: center;

		@include min992 {
			flex-direction: row;
		}
	}

	&__row2 {
		flex-direction: column;
		align-items: center;

		@include min768 {
			flex-direction: row;
		}
	}

	&__col-8 {
		
		@include min1140 {
			min-width: 760px;
		}
	}

	&__col {
		min-height: 400px;
		margin: 0 rem(30px);

		@include min576 {
			margin: 0;
		}
	}

	&__title {
		min-height: 200px;

		@include min992 {
			min-height: 350px;
			width: 100%;
		}
		
	}

	&__title-text {

		@include min576 {
			max-height: 125px;
			height: 100%;
		}

		@include min768 {
			min-height: 175px;
			height: 100%;
		}
	}
	
	&__logo-link {
		width: 62px;
		height: 60px;
		margin: 0 auto;

		&-l1 {
			flex-grow: 1;
		}
	}

	&__links {
		min-height: 170px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $dark-color;
		text-align: center;
		margin-bottom: 30px;

		&--link-3,
		&--link-4 {
			margin-bottom: 40px;
		}
	}
	
	&__items-title {
		font-family: $fifth-font;
		font-size: rem(24px);
		text-transform: uppercase;
	}
	
	&__items-text {
		font-family: $third-font;
		font-size: rem(18px);
		flex-shrink: .5;
	}

	.grey {
		background-color: $light-grey-color;
		margin-bottom: 15px;
		min-height: 400px;

		@include min768 {
			background-color: $body-color;
			margin-bottom: 0;
		}		
	}

	.grey1 {
		@include min768 {
			background-color: $light-grey-color;
		}
	}	

	&__text {
		text-align: center;
		font-family: $third-font;
		font-size: rem(18px);

		&-bold {
			font-family: $fifth-font;
		}
	}

	&__col-4 {
		background-image: url($img-path + 'phone_on_table2.jpg');
		min-height: 400px;
		background-size: 100% 100%;
		margin: 0 0 rem(30px);

		@include min992 {
			position: relative;
			background-size: cover;
			background-position: -87% 0;
			min-height: 800px;
			margin: 0;
		}

		& > * {
			@include z-index(first);
			width: 100%;
		}

		&::after {
			content: "";
			@include overlay;
			background-color: rgba($violet-color, .5);
		}
	}
}

.mb-28 {
	margin-bottom: 28px;
}
