.team {
	padding-bottom: rem(100px);
	
	&__container {
		min-height: 720px;
	}

	&__title {
		color: $dark-color;
		margin-bottom: 30px;
	}

	&__col {
		min-height: 125px;
	}
	
	&__col > * {
		text-align: center;
	}
	
	&__people {
		min-height: 410px;
		position: relative;
		background-color: $light-color;
		background-size: 100% 100%;
	}

	&__wrap {
		position: relative;
		width: 100%;
		padding-top: 40%;
		background-color: $body-color;
	}

	&__photo {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		right: 0;
		transform: translateX(-50%);	
	}

	&__no-photo {
		border-radius: 50%;
	}

	.slick-prev, 
	.slick-next,
	.slick-arrow,
	.slick-prev:before, 
	.slick-next:before {
		@include max1090 {
		display: none;
		width: 0;
		height: 0;
	}
	}
	
	.slick-prev:before, 
	.slick-next:before {
		width: 23px;
		height: 38px;
		color: transparent;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		position: absolute;
		@include z-index(first);

	}

	.slick-prev:before {
		background-image: url($img-path+'interface-arrow-left.svg');

		@include min1367 {
			left: -30px;
		}
		
	}

	.slick-next:before {
		background-image: url($img-path+'interface-arrow-right.svg');

		@include min1367 {
			right: -30px;
		}
		
	}

	&__about {
		padding-bottom: 45px;

		& > * {
			display: block;
			font-size: rem(24px);
		}
	}

	&__name {
		font-family: $secondary-font;
		text-transform: uppercase;
		color: $violet-color;
		margin-bottom: 25px;
	}

	&__position {
		font-family: $third-font;
		color: $dark-color;
		text-transform: capitalize;
	}

	&__footer {
		background-color: $violet-color;
		min-height: 70px;
		
	}
	
	.first {
		margin-right: 12px;
	}	
} 
