.works {
	position: relative;
	background-image: url($img-path + 'glasses2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	overflow-x: hidden;

	@include min576 {
		min-height: 600px;
	}

	@include min768 {
		min-height: 700px;
	}

	@include min992 {
		min-height: 800px;
	}

	@include min1367 {
		min-height: 1000px;
	}

	&::before {
		content: "";
		@include overlay;
		background-color: rgba($light-violet-color, .95);
	}
	
	&__container {
		padding: 0 0 rem(60px);
	}

	&__col {
		min-height: 600px;
		height: 100%;
		@include z-index(cont);

		@include min576 {
			min-height: 640px;
		}

		@include min768 {
			min-height: 740px;
		}

		@include min992 {
			min-height: 840px;
		}

		@include min1367 {
			min-height: 940px;
		}
	}

	&__img {
		@include img;
	}

	.carousel {
		max-width: 350px;
		min-height: 85%;

		@include min576 {
			max-width: 450px;	
		}

		@include min768 {
			max-width: 600px;	
		}

		@include min992 {
			max-width: 730px;
			
		}
	}

	.carousel-inner {
		margin-bottom: rem(30px);

		@include min576 {
			margin-bottom: 0;
		}
	}

	.carousel-item-next,
	.carousel-item-left {
		padding-bottom: 0;
	}

	.carousel-controls {
		display: none;
		position: relative;
		min-height: 40px;

		@include min576 {
			display: inline-block;
			top: -15rem;
		}

		@include min768 {
			display: inline-block;
			top: -18rem;
		}

		@include min992 {
			display: inline-block;
			top: -21rem;
		}
	}

	.carousel-control-prev {
		width: 30px;
		height: 52px;

		@include min576 {
			left: rem(-50px);	
		}

		@include min768 {
			left: rem(-80px);	
		}
		
		@include min992 {
			left: rem(-130px);	
		}

		@include min1091 {
			left: rem(-180px);
		}

		@include min1367 {
			left: rem(-280px);
		}
	}

	.carousel-control-next {
		width: 30px;
		height: 52px;

		@include min576 {
			right: rem(-50px);	
		}

		@include min768 {
			right: rem(-80px);	
		}

		@include min992 {
			right: rem(-130px);	
		}

		@include min1091 {
			right: rem(-180px);	
		}

		@include min1367 {
			right: rem(-280px);
		}

	}

	.carousel-control-prev-img,
	.carousel-control-next-img {
		min-width: 30px;
		min-height: 40px;
		@include z-index(main-content);
	}


	.carousel-indicators {
		margin: 0;
	}

	.carousel-indicators li {
		width: 10px;
		height: 10px;
		// color: $white-color;
		// opacity: .5;
		// color: transparent;
		// background-image: url($img-path + 'circle.svg');
		border: 1px solid $white-color;
		border-radius: 50%;
	}	

	&__button {
		color: $body-color;
		border: 1px solid $body-color;
		background: transparent;
		max-height: 50px;
	}
}

// &__list {
	// 	flex-shrink: .2;
	// }

	// &__items {
	// 	display: inline-block;
	// }

	// &__links:hover {
	// 	background-image: url($img-path + 'circle_filled.svg');
	// 	background-repeat: no-repeat;
	// 	background-position: 0 60%;
	// }