.works {
	position: relative;
	background-image: url($img-path + 'glasses2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 1000px;
	height: 100%;

	&::before {
		content: "";
		@include overlay;
		background-color: rgba($light-violet-color, .95);
	}
	
	&__container {
		padding: 0 0 rem(60px);
	}

	&__col {
		min-height: 940px;
		height: 100%;
		@include z-index(main-content);
	}

	&__img-item {
		position: relative;
		min-width: 730px;
		padding-top: 75%;
	}

	&__img {
		@include overlay;
		z-index: 1;
	}

	.carousel {
		min-height: 620px;
		max-width: 730px;
		@include z-index(img);
	}

	.carousel-item-next,
	.carousel-item-left {
		padding-bottom: 0;
	}

	.carousel-controls {
		$position: -21rem;
		position: relative;
		min-height: 40px;
		top: $position;
	}

	.carousel-control-prev {
		left: rem(-280px);
		width: 30px;
		height: 52px;
	}

	.carousel-control-next {
		right: rem(-280px);
		width: 30px;
		height: 52px;
	}

	.carousel-control-prev-img,
	.carousel-control-next-img {
		min-width: 30px;
		min-height: 40px;
		@include z-index(main-content);
	}


	.carousel-indicators {
		margin: 0;
	}

	.carousel-indicators li {
		width: 10px;
		height: 10px;
		// color: $white-color;
		// opacity: .5;
		// color: transparent;
		// background-image: url($img-path + 'circle.svg');
		border: 1px solid $white-color;
		border-radius: 50%;
	}


	&__list {
		flex-shrink: .2;
	}

	&__items {
		display: inline-block;
	}

	&__links:hover {
		background-image: url($img-path + 'circle_filled.svg');
		background-repeat: no-repeat;
		background-position: 0 60%;
	}

	&__button {
		color: $body-color;
		border: 1px solid $body-color;
		background: transparent;
		max-height: 50px;
	}
}