@import 'variables';
@import 'mixins';
@import 'common';
@import 'first-screen';
@import 'about';
@import 'services';
@import 'works';
@import 'team';
@import 'contact';
@import 'footer';
@import 'slick';
@import 'slick-theme';


/////////////// REMOVE BEFORE PRODUCTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media all and (max-width: 319px) {

	* {
		display: none!important;	
	}
}
// .first-screen,
// .about,
// .services,
// .works,
// .team
// .contact,
// .footer 
// {
// 	display: none!important;
// }