.block-3 {
	background-color: #70bfff;
	min-height: 790px;
	background-image: url($img_path + 'tomatoes.png');
	background-repeat: no-repeat;
	background-position: 79% 50%;
	display: flex;
}

.section-3 {
	font-family: $main_font;
	display: flex;
	align-items: center;
	height: 100%;

	&__col {
		display: flex;
	}

	&__list {
		font-size: 0;
		max-width: 400px;
		width: 100%;
	}
	
	&__items {
		margin: 0 0 20px 0;
		width: 100%;
		box-shadow: 0 5px 5px #45769e;
		position: relative;
	}

	&__items:last-child {
		margin-bottom: 0;
	}

	&__items:hover {
		opacity: .7;
	}

	&__button {
		height: 100px;
		width: 75%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $secondary_color;
		font-weight: $bold;
		font-size: $text_lg;
		text-transform: capitalize;
		border: none;
		line-height: 1;
		cursor: pointer;
		border-right: 2px solid #9d9d9d;
	}

	&__button:after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		float: right;
		width: 25%;
		height: 100px;
		background-color: $secondary_color;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		cursor: pointer;
	}

	&__service {
		text-align: center;
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;	
	}

	&__text {
		width: 100%;
		color: $secondary_color;
		text-align: right;
		margin: 0;
	}

	&__button--basket:after {
		background-image: url($img_path + 'basket.svg');
	}

	&__button--hand:after {
		background-image: url($img_path + 'hand.svg');
	}

	&__button--earth:after {
		background-image: url($img_path + 'earth.svg');
	}

	&__button--carrot:after {
		background-image: url($img_path + 'carrot.svg');
	}
}
