.block-4 {
	background-color: #ffe92f;
	min-height: 1536px;
	position: relative;

	&__container {
		position: relative;
	}

	&__section {
		padding-top: 35px;
		font-family: $main_font;
		text-align: center;
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__content {
		font-size: $text_md; 
		font-weight: $light;
		line-height: 1.7;
	}	
	
	&__button {
		position: absolute;
		bottom: 90px;
		left: 50%;
		transform: translate(-50%, -100%);
		width: 200px;
		padding: 18px 0 18px;
		text-align: center;
		background-color: #5585a2;
		box-shadow: 0 1px 2px 1px #9e901d;
	}

	&__img {

		&--i1,
		&--i2-3,
		&--i4-5 {
			position: relative;
		}
		
		&--i2,
		&--i3 {
			position: absolute;
			height: 260px;
			margin-bottom: 30px;
		}

		&--i2 {
			padding-bottom: 6px;
		}

		&--i3 {
			top: 280px;
			padding-top: 6px;
		}
		
		&--i1,
		&--i2-3 {
			height: 550px;
			overflow: hidden;
			margin-bottom: 30px;
		}
		
		&--i4-5 {
			height: 400px;
			overflow: hidden;
		}

		&--capture {
			border-style: none;
			max-width: 100%;
			height: 100%;
		}
	}
}

.capture-1 {
	position: absolute;
	top:-3px;
}

.capture-4 {
	position: absolute;
	left: 33px;
}

.capture-5 {
	width: 96%;
	padding-left: 12px;
}

