.main-header {
	width: 100%;
	background: rgba(249, 248, 251, .5);
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: map-get($z-index, navbar);
	
	&__row {
		display: flex;
		align-items: center;
	}
	
	&__logo-link {
		display: inline-block;
		font-family: $second-font;
		font-size: 50px;
		line-height: 2em;
		color: $main_color;

		&:hover {
			color: red;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		font-family: $main_font;
	}

	&__list-link:hover,
	&__list-link--active {
		border-top-color: red;
	}
	
	&__list-link {
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid transparent;
	}

	&__text {
		font-family: $main_font;
		font-weight: $bold;
		text-transform: uppercase; 
		line-height: 2em;
		color: $main_color;
	}
}