@import url("grid.css");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	color: #000;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

.logo__text {
	font-family: "Pacifico", cursive;
	font-size: 50px;
	line-height: 2em
}

.main-header {
	position: relative;
}

.main-header__menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);

}

.menu-list {
	display: flex;
	justify-content: space-between;
}

.menu-list__items {
	align-items: center;
}



.menu-list__text {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	text-transform: uppercase; 
}