* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	transition: all .1s ease;
	line-height: 1;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: grey;
}

.container {
	font-family: "Raleway", sans-serif;
	min-height: 100vh;
	
	span {
		display: block;
	}

	.title {
		color: rgba(0, 0, 0, 1);
		min-height: 355px;

		@media (max-width: $pad-screen) {
			min-height: 375px;
		}

		& > * {
			font-weight: 700;
			text-align: center;
		}
	}

	h1 {
		font-size: $text-lg;
		margin-bottom: 0;
	}

	&__position,
	&__works {
		text-transform: uppercase;
	}

	&__photo-block {
		max-width: 200px;
		width: 100%;
	}

	&__photo-wrap {
		padding-top: 100%;
		position: relative;
	}

	&__photo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__contact {
		width: 100%;
		color: blue;

		&-row {
			@media (max-width: $pad-screen) {
				min-height: 50px;
				flex-direction: column;
				justify-content: space-around;
			}
		}
	}

	&__works {
		font-size: 24px;
	}

	&__list {
		min-height: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;

		@media (max-width: $lg-screen) {
			min-height: 240px;
			justify-content: space-around;
		}

		@media (max-width: $pad-screen) {
			min-height:  400px;
			justify-content: space-around;
		}

		@media (max-width: $sm-screen) {
			min-height:  400px;
			justify-content: space-around;
		}

		@media (max-width: $xs-screen) {
			min-height:  800px;
			justify-content: space-around;
		}
	}

	&__items {
		max-width: 170px;
		width: 100%;
		min-height: 60px;
		border: 2px solid blue;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: green;
		flex-wrap: wrap;

		&:hover {
			background-color: white;
		}

		@media (max-width: $pad-screen) {
			max-width: 200px;
		}

		@media (max-width: $xs-screen) {
			max-width: 250px;
		}
	}

	.items-next {
		opacity: 0;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 60px;
		color: white;
		text-align: center;
		text-decoration: none;


		&:hover {
			text-decoration: none;
			color: rgba(0, 0, 0, 1);
			font-weight: bold;
		}
	}
}


